<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Alignment</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="alignstyle.css" />
  </head>
  <body>
    <h1>Alignment</h1>
    <h2>
      You are in a public bathroom and you see this. What do you choose?<br />Choose
      wisely to determine your alignment! Click on which stall you choose.
    </h2>
    <div class="container">
      <!-- First box/oval combo -->
      <div class="box-container" id="Chaotic_Evil">
        <div class="rectangle"></div>
        <div class="oval"></div>
        <div class="stick-figure npc">
          <div class="head"></div>
          <div class="torso"></div>
          <div class="arm left"></div>
          <div class="arm right"></div>
          <div class="leg left"></div>
          <div class="leg right"></div>
        </div>
        <!-- Puddle for "Chaotic Evil" -->
        <div class="puddle"></div>
      </div>
      <!-- Second box/oval combo -->
      <div class="box-container" id="Neutral_Evil">
        <div class="rectangle"></div>
        <div class="oval"></div>
      </div>
      <!-- Third box/oval combo -->
      <div class="box-container" id="Lawful_Evil">
        <div class="rectangle"></div>
        <div class="oval"></div>
      </div>
      <!-- Fourth box/oval combo -->
      <div class="box-container" id="Chaotic_Neutral">
        <div class="rectangle"></div>
        <div class="oval"></div>
      </div>
      <!-- Fifth box/oval combo -->
      <div class="box-container" id="True_Neutral">
        <div class="rectangle"></div>
        <div class="oval"></div>
      </div>
      <!-- Sixth box/oval combo -->
      <div class="box-container" id="Lawful_Neutral">
        <div class="rectangle"></div>
        <div class="oval"></div>
      </div>
      <!-- Seventh box/oval combo -->
      <div class="box-container" id="Neutral_Good">
        <div class="rectangle"></div>
        <div class="oval"></div>
      </div>
      <!-- Eighth box/oval combo -->
      <div class="box-container" id="Lawful_Good">
        <div class="rectangle"></div>
        <div class="oval"></div>
      </div>
      <!-- Ninth box/oval combo -->
      <div class="box-container" id="Chaotic_Good">
        <div class="rectangle"></div>
      </div>
      <!-- Player stick figure -->
      <div class="stick-figure player">
        <div class="head"></div>
        <div class="torso"></div>
        <div class="arm left"></div>
        <div class="arm right"></div>
        <div class="leg left"></div>
        <div class="leg right"></div>
      </div>
    </div>
    <div class="result"></div>
    <!-- You can add your JavaScript file here if needed -->
    <script src="alignscript.js"></script>
  </body>
</html>
